- form_for @discussion, :method => "post" do |f|
  = f.error_messages
  %fieldset
    = f.label :author
    = f.text_field :author
  %fieldset
    = f.label :subject
    = f.text_field :subject
  %fieldset
    = f.label :message
    = f.text_field :message
  %fieldset
    = f.submit "Submit"

