%h2= "Discussions"

%ul#discussions
  - for discussion in @discussions
    %li
      %span.author= h(discussion.author)
      %span.subject= h(discussion.subject)
      %span.message= h(discussion.message)
      %span.nav
        = link_to "Show", discussion
        = link_to "Edit", edit_discussion_path(discussion)