#discussion
  %h3= @discussion.author
  %p.subject= @discussion.subject
  %p= @discussion.message


  = link_to "Edit", edit_discussion_path(@discussion)
  = link_to "Destroy", @discussion, :confirm => 'Are you sure?', :method => :delete
  = link_to "View All", discussions_path

